{% extends 'blog/base.html' %}
{% block content %}
<!-- <h1>ブログ一覧</h1>
<hr> -->
<div class="row">
    {% for post in posts %}
    {% if post.is_published or user.is_authenticated %}
    <div class="card w-30 mt-3 mx-auto col-4">
        {% if post.image %}
        <img class="card-img-top" src="{{post.image.url}}" alt="{{post.title}}">
        {% endif %}
        <div class="card-body">
            {% if not post.is_published %}
            <span class="badge bg-danger">下書き</span>
            {% endif %}
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content | truncatechars:30 }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-dark" href="{% url 'post_detail' post.pk %}">続きを読む</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- <h2>{{post.title}}</h2>
    <p>{{post.created_at}}</p>
    <p>{{post.content}}</p>
    <a href="{% url 'post_detail' post.pk %}">続きを読む</a> -->
    {% endfor %}
</div>
{% endblock content %}
